/*! r4in Boilerplate v1.0.0
by: Francis Alturas
 
 */

// ------------------------------------
// IMPORTS
// ------------------------------------
@import "_normalize.scss";
@import "_html5.scss";
@import "_fonts.scss";
@import "_media-queries.scss";
@import "_mixin.scss";

$font-ptserif: 'PT Serif', serif;

:root{
    font-size: 16px;
}

*{
    transition: all 200ms ease-in-out;
}

// ------------------------------------
// COLOR SCHEMES
// ------------------------------------

// Default Colors
$color-white: #ffffff;
$color-charcoal: #1C1B1B;
$color-sea: #1FB4FF;
$color-apple: #FF2D55;
$color-tree: #4CD964;
$color-sun: #FDC02F;


// ------------------------------------
// SELECTOR STYLES
// ------------------------------------

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-ptserif;
    background: #0b0c10 url(../img/bg-hero.jpg) no-repeat center center fixed; 
    background-size: cover;

        display: flex;
    align-items: center;
    height: 100vh;
}

a{
  &:hover, &:visited{
    color: $color-sun;
    text-decoration: none;
  }
}

section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

h1,h2,h3,h4,h5,h6,p,a,blockquote{
    color: $color-white;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0.5rem 0;
    color: $color-white;
    padding: 7px 10px;
    span{
        background-color: rgba(10, 11, 15, 0.75);
        line-height: 34px;
        padding: 6px 0;
        width: 110%;
        box-shadow: 10px 0 0 rgba(10, 11, 15, 0.75), -10px 0 0 rgba(10, 11, 15, 0.75);
    }
}

h2{
  span{
    line-height: 36px;
    padding: 4px 0;
  }
}

h1{
    font-size: 2.25rem;
    color: $color-white;
}

h2{
    font-size: 1.3125rem;
}

a{
    transition: all 0.3s ease;
}

p{
    font-size: 14px;
}

ul,li{
    padding-left: 0;
    margin-left:  0;
    list-style: none;
}


// --------------------------
//  HELPER CLASSES
// --------------------------

.auto-960{
    max-width: 960px;
    margin: 0 auto;
}

.mt0{margin-top:0px!important;} .mt10{margin-top:10px!important;} .mt20{margin-top:20px!important;} .mt30{margin-top:30px!important;} .mt40{margin-top:40px!important;} .mt50{margin-top:50px!important;} .mt60{margin-top:60px!important;} .mt70{margin-top:70px!important;} .mt80{margin-top:80px!important;} .mt90{margin-top:90px!important;} .mt100{margin-top:100px!important;}
.mb0{margin-bottom:0px!important;} .mb10{margin-bottom:10px!important;} .mb20{margin-bottom:20px!important;} .mb30{margin-bottom:30px!important;} .mb40{margin-bottom:40px!important;} .mb50{margin-bottom:50px!important;} .mb60{margin-bottom:60px!important;} .mb70{margin-bottom:70px!important;} .mb80{margin-bottom:80px!important;} .mb90{margin-bottom:90px!important;} .mb100{margin-bottom:100px!important;}
.ml0{margin-left:0px!important;} .ml10{margin-left:10px!important;} .ml20{margin-left:20px!important;} .ml30{margin-left:30px!important;} .ml40{margin-left:40px!important;} .ml50{margin-left:50px!important;} .ml60{margin-left:60px!important;} .ml70{margin-left:70px!important;} .ml80{margin-left:80px!important;} .ml90{margin-left:90px!important;} .ml100{margin-left:100px!important;}
.mr0{margin-right:0px!important;} .mr10{margin-right:10px!important;} .mr20{margin-right:20px!important;} .mr30{margin-right:30px!important;} .mr40{margin-right:40px!important;} .mr50{margin-right:50px!important;} .mr60{margin-right:60px!important;} .mr70{margin-right:70px!important;} .mr80{margin-right:80px!important;} .mr90{margin-right:90px!important;} .mr100{margin-right:100px!important;}
.m0{margin:0px!important;} .m10{margin:10px!important;} .m20{margin:20px!important;} .m30{margin:30px!important;} .m40{margin:40px!important;} .m50{margin:50px!important;} .m60{margin:60px!important;} .m70{margin:70px!important;} .m80{margin:80px!important;} .m90{margin:90px!important;} .m100{margin:100px!important;}

// ------------------------------------
// COMPONENT CLASSES
// ------------------------------------

.social-links{
    >.social-icon{
        display: inline-block;  
        margin: 10px;
        a{
            &:hover,&:visited{
                color:#fff;
            }
            &:active{
                position: relative;
                top: 1px;
            }
        }
        &.-drib a{
            background-color: #E64C87;
            height: 42px;
            width: 42px;
            border-radius: 8px;
            display: block;
            text-align: center;
            line-height: 42px;
            box-shadow: 0px 0px 12px 0px rgba(230, 76, 135, 0.4);
            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(230, 76, 135, 0.9);
            }
            
        }
        &.-beha a{
            background-color: #1A70F9;
            height: 42px;
            width: 42px;
            border-radius: 8px;
            display: block;
            text-align: center;
            line-height: 42px;
            box-shadow: 0px 0px 12px 0px rgba(26, 112, 249, 0.5);
            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(26, 112, 249, 1);
            }
        }
        &.-medi a{
            background-color: #0BE370;
            height: 42px;
            width: 42px;
            border-radius: 8px;
            display: block;
            text-align: center;
            line-height: 42px;
            box-shadow: 0px 0px 12px 0px rgba(11, 227, 112, 0.5);
            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(11, 227, 112, 1);
            }
        }
        &.-gith a{
            background-color: #6C7278;
            height: 42px;
            width: 42px;
            border-radius: 8px;
            display: block;
            text-align: center;
            line-height: 42px;
            box-shadow: 0px 0px 12px 0px rgba(108, 114, 120, 0.5);
            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(108, 114, 120, 1);
            }
        }
        &.-speak a{
            background-color: #1A70F9;
            height: 42px;
            width: 42px;
            border-radius: 8px;
            display: block;
            text-align: center;
            line-height: 42px;
            box-shadow: 0px 0px 12px 0px rgba(26, 112, 249, 0.5);
            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(26, 112, 249, 1);
            }
        }
    }
}

.social-links .fa{
    font-size: 16px;
}

// -------------------------
// OVERWRITTEN BOOTSTRAP
// -------------------------



// -------------------------
// MAIN SECTION STYLES
//--------------------------

// Hero Section
.section-hero{

}

/* ////========== LOADING STYLES =========//// */
.loading {
  display: block;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  height: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-image: linear-gradient(45deg,#4776E6,#8E54E9);
  z-index: 99999;
  color: #fff;
  transition: all 0.5s ease-out 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

    img{
        width: 80px;
        height: 80px;
    }
}

.loading:before {
  content: "";
  display: block;
  // width: 80px;
  // height: 80px;
  // background: url("../img/ico.svg") no-repeat center;
  // background-size: 80px 80px;
}

.loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.design-elements{
    position: fixed;
    height: 100vh;
    width: 100vw;
    .circle-1{
        position: absolute;
        top: 62%;
        left: 84%;
        animation-delay: 500ms;
    }
    .circle-2{
        position: absolute;
        top: 73%;
        left: 74%;
        animation-delay: 700ms;
    }
    .rect-1{
        position: absolute;
        right: -11%;
        top: 9%;
        animation-delay: 100ms;
    }
    .tri-1{
        position: absolute;
        top: 27%;
        right: 16%;
        animation-delay: 250ms;
    }
    .tri-2{
        position: absolute;
        top: 41%;
        right: 32%;
        animation-delay: 400ms;
    }
    .line-1{
        position: absolute;
        top: -20%;
        left: 30%;
        animation-delay: 200ms;
    }
}

.rotate{
  animation: ani-rotate linear 40s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}

@keyframes ani-rotate{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(360deg) ;
  }
}

.rotatex{
  animation: ani-rotatex linear 200s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}

@keyframes ani-rotatex{
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(-360deg) ;
  }
}

.heartbeat{
  animation: ani-heartbeat linear 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-heartbeat{
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

.heartbeatx{
  animation: ani-heartbeatx ease-in-out 500ms;
  animation-iteration-count: infinite;
}

@keyframes ani-heartbeatx{
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.jump{
  animation: ani-jump linear 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-jump{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}

//animating star
#stars {
    opacity: 0.4;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1717px 1358px #FFF , 1991px 1130px #FFF , 1974px 545px #FFF , 1108px 193px #FFF , 327px 1426px #FFF , 1068px 1181px #FFF , 599px 1742px #FFF , 513px 1989px #FFF , 1753px 1585px #FFF , 232px 855px #FFF , 1976px 1638px #FFF , 1761px 1069px #FFF , 1926px 1137px #FFF , 452px 1705px #FFF , 167px 366px #FFF , 1904px 1290px #FFF , 819px 1740px #FFF , 1991px 793px #FFF , 135px 1226px #FFF , 472px 413px #FFF , 478px 1405px #FFF , 208px 328px #FFF , 526px 1929px #FFF , 521px 1471px #FFF , 613px 1195px #FFF , 1736px 1330px #FFF , 959px 1662px #FFF , 7px 1488px #FFF , 6px 1620px #FFF , 786px 1872px #FFF , 580px 73px #FFF , 524px 910px #FFF , 1690px 1090px #FFF , 1484px 33px #FFF , 692px 1894px #FFF , 245px 877px #FFF , 1319px 1434px #FFF , 620px 1932px #FFF , 65px 1043px #FFF , 838px 456px #FFF , 1255px 1942px #FFF , 885px 1554px #FFF , 1713px 537px #FFF , 1618px 405px #FFF , 103px 831px #FFF , 798px 1394px #FFF , 988px 201px #FFF , 575px 879px #FFF , 780px 747px #FFF , 1589px 690px #FFF , 52px 481px #FFF , 1612px 941px #FFF , 1281px 973px #FFF , 591px 1680px #FFF , 1261px 125px #FFF , 899px 37px #FFF , 719px 1439px #FFF , 559px 518px #FFF , 1816px 166px #FFF , 478px 1297px #FFF , 1997px 1924px #FFF , 1669px 57px #FFF , 1161px 385px #FFF , 1546px 933px #FFF , 427px 847px #FFF , 1537px 1337px #FFF , 1908px 994px #FFF , 1032px 451px #FFF , 1121px 1743px #FFF , 1498px 816px #FFF , 620px 1222px #FFF , 774px 235px #FFF , 1457px 1370px #FFF , 1765px 516px #FFF , 435px 1268px #FFF , 777px 211px #FFF , 1696px 981px #FFF , 803px 1191px #FFF , 755px 472px #FFF , 836px 414px #FFF , 1158px 728px #FFF , 936px 432px #FFF , 13px 1000px #FFF , 645px 668px #FFF , 594px 340px #FFF , 1000px 229px #FFF , 46px 1530px #FFF , 1210px 1700px #FFF , 725px 745px #FFF , 744px 345px #FFF , 1166px 1962px #FFF , 1817px 1133px #FFF , 398px 602px #FFF , 1727px 1176px #FFF , 1748px 1498px #FFF , 1279px 1488px #FFF , 206px 1249px #FFF , 196px 227px #FFF , 172px 1796px #FFF , 327px 1142px #FFF , 133px 212px #FFF , 1717px 765px #FFF , 221px 1922px #FFF , 1189px 1225px #FFF , 971px 497px #FFF , 150px 571px #FFF , 1912px 1553px #FFF , 1652px 1168px #FFF , 1701px 1834px #FFF , 1795px 1229px #FFF , 603px 113px #FFF , 827px 1160px #FFF , 1900px 824px #FFF , 1563px 401px #FFF , 1107px 1565px #FFF , 1700px 1750px #FFF , 1482px 1022px #FFF , 1730px 1631px #FFF , 68px 1009px #FFF , 1402px 533px #FFF , 1609px 251px #FFF , 890px 1311px #FFF , 1444px 44px #FFF , 1779px 1718px #FFF , 858px 1486px #FFF , 1239px 341px #FFF , 1467px 1379px #FFF , 1207px 518px #FFF , 1573px 1231px #FFF , 1072px 1557px #FFF , 1160px 293px #FFF , 1110px 385px #FFF , 657px 1779px #FFF , 1523px 1214px #FFF , 1456px 921px #FFF , 942px 1825px #FFF , 1423px 1117px #FFF , 1918px 220px #FFF , 1168px 1826px #FFF , 319px 837px #FFF , 1920px 854px #FFF , 422px 1273px #FFF , 1653px 351px #FFF , 312px 1440px #FFF , 446px 543px #FFF , 1648px 699px #FFF , 1667px 1171px #FFF , 1936px 1716px #FFF , 470px 1374px #FFF , 1100px 1525px #FFF , 1374px 330px #FFF , 1982px 819px #FFF , 37px 860px #FFF , 1309px 1098px #FFF , 450px 1421px #FFF , 752px 1432px #FFF , 206px 1430px #FFF , 59px 1514px #FFF , 411px 1418px #FFF , 1585px 1037px #FFF , 1197px 1844px #FFF , 941px 1730px #FFF , 1508px 666px #FFF , 4px 1943px #FFF , 658px 670px #FFF , 1195px 801px #FFF , 1460px 1176px #FFF , 885px 1467px #FFF , 1345px 1770px #FFF , 1660px 409px #FFF , 1973px 166px #FFF , 409px 1378px #FFF , 899px 657px #FFF , 53px 1882px #FFF , 822px 1070px #FFF , 1662px 1865px #FFF , 1458px 1270px #FFF , 794px 1068px #FFF , 726px 696px #FFF , 6px 1334px #FFF , 995px 8px #FFF , 616px 553px #FFF , 332px 1721px #FFF , 625px 1362px #FFF , 1874px 301px #FFF , 898px 554px #FFF , 948px 1741px #FFF , 463px 604px #FFF , 1578px 1386px #FFF , 751px 642px #FFF , 1226px 254px #FFF , 1964px 1742px #FFF , 1224px 744px #FFF , 56px 209px #FFF , 521px 1588px #FFF , 1304px 1252px #FFF , 839px 102px #FFF , 1291px 1648px #FFF , 1330px 16px #FFF , 48px 799px #FFF , 663px 1943px #FFF , 1084px 1944px #FFF , 190px 989px #FFF , 1135px 1648px #FFF , 1680px 976px #FFF , 1344px 1599px #FFF , 1774px 1317px #FFF , 1036px 673px #FFF , 23px 849px #FFF , 1611px 567px #FFF , 1063px 1058px #FFF , 1193px 1945px #FFF , 1822px 755px #FFF , 66px 70px #FFF , 392px 1151px #FFF , 1637px 197px #FFF , 1796px 822px #FFF , 1782px 279px #FFF , 852px 1529px #FFF , 221px 25px #FFF , 1905px 866px #FFF , 906px 1926px #FFF , 480px 187px #FFF , 364px 1589px #FFF , 646px 448px #FFF , 276px 1386px #FFF , 1271px 1660px #FFF , 354px 1388px #FFF , 1578px 1610px #FFF , 191px 1780px #FFF , 710px 205px #FFF , 93px 1826px #FFF , 1492px 1854px #FFF , 1479px 1907px #FFF , 957px 1387px #FFF , 1142px 1110px #FFF , 326px 1477px #FFF , 410px 1159px #FFF , 640px 1843px #FFF , 209px 859px #FFF , 176px 1288px #FFF , 110px 535px #FFF , 678px 1207px #FFF , 722px 1861px #FFF , 597px 79px #FFF , 94px 234px #FFF , 1043px 708px #FFF , 1990px 83px #FFF , 995px 1182px #FFF , 358px 1284px #FFF , 235px 1967px #FFF , 929px 359px #FFF , 531px 1086px #FFF , 1663px 823px #FFF , 1516px 1328px #FFF , 244px 1233px #FFF , 1696px 31px #FFF , 848px 1044px #FFF , 1937px 709px #FFF , 1845px 112px #FFF , 714px 1075px #FFF , 1826px 1530px #FFF , 1073px 1081px #FFF , 783px 738px #FFF , 1982px 712px #FFF , 915px 527px #FFF , 1388px 264px #FFF , 78px 1175px #FFF , 1260px 1292px #FFF , 1477px 1461px #FFF , 1011px 586px #FFF , 1086px 1667px #FFF , 747px 1223px #FFF , 1245px 858px #FFF , 795px 1306px #FFF , 1944px 34px #FFF , 1040px 1129px #FFF , 577px 1293px #FFF , 174px 1978px #FFF , 70px 252px #FFF , 1860px 1975px #FFF , 790px 1080px #FFF , 1896px 307px #FFF , 987px 1119px #FFF , 1572px 1535px #FFF , 1412px 1994px #FFF , 381px 1805px #FFF , 1655px 1314px #FFF , 1047px 478px #FFF , 1435px 101px #FFF , 1053px 929px #FFF , 561px 949px #FFF , 453px 1122px #FFF , 712px 1609px #FFF , 1618px 1501px #FFF , 27px 470px #FFF , 51px 1043px #FFF , 856px 18px #FFF , 594px 1926px #FFF , 214px 1233px #FFF , 1753px 1132px #FFF , 1031px 1729px #FFF , 1454px 1597px #FFF , 1175px 1298px #FFF , 1959px 1651px #FFF , 1303px 785px #FFF , 402px 1169px #FFF , 603px 880px #FFF , 88px 592px #FFF , 193px 1815px #FFF , 368px 1142px #FFF , 899px 1269px #FFF , 751px 718px #FFF , 64px 163px #FFF , 640px 1472px #FFF , 1119px 665px #FFF , 1234px 1091px #FFF , 394px 1133px #FFF , 1057px 1028px #FFF , 776px 1026px #FFF , 755px 1971px #FFF , 24px 162px #FFF , 912px 1196px #FFF , 621px 642px #FFF , 1227px 1694px #FFF , 825px 943px #FFF , 1876px 1742px #FFF , 1429px 400px #FFF , 1662px 192px #FFF , 1877px 851px #FFF , 514px 872px #FFF , 1010px 419px #FFF , 857px 1714px #FFF , 1423px 1024px #FFF , 1421px 294px #FFF , 61px 740px #FFF , 344px 1721px #FFF , 898px 229px #FFF , 1599px 1551px #FFF , 1367px 1336px #FFF , 1591px 1040px #FFF , 1749px 1429px #FFF , 1499px 25px #FFF , 693px 1428px #FFF , 1330px 1876px #FFF , 560px 197px #FFF , 1917px 160px #FFF , 1171px 500px #FFF , 1311px 535px #FFF , 1204px 121px #FFF , 653px 1172px #FFF , 1388px 299px #FFF , 881px 369px #FFF , 931px 1502px #FFF , 1800px 999px #FFF , 1968px 1641px #FFF , 1623px 1501px #FFF , 1048px 323px #FFF , 1497px 1097px #FFF , 1488px 1476px #FFF , 1965px 1197px #FFF , 1331px 23px #FFF , 808px 1622px #FFF , 1962px 878px #FFF , 912px 879px #FFF , 1675px 1714px #FFF , 217px 1870px #FFF , 1947px 1362px #FFF , 465px 1138px #FFF , 1396px 196px #FFF , 564px 1387px #FFF , 1183px 1103px #FFF , 535px 1169px #FFF , 614px 1868px #FFF , 470px 1822px #FFF , 118px 1194px #FFF , 1262px 968px #FFF , 1018px 1868px #FFF , 1893px 1771px #FFF , 1346px 1701px #FFF , 1766px 1115px #FFF , 240px 125px #FFF , 819px 702px #FFF , 133px 480px #FFF , 1654px 1776px #FFF , 917px 462px #FFF , 954px 1494px #FFF , 1155px 857px #FFF , 1938px 1188px #FFF , 1737px 495px #FFF , 222px 1713px #FFF , 1897px 477px #FFF , 263px 260px #FFF , 1198px 1177px #FFF , 518px 1328px #FFF , 136px 1383px #FFF , 1145px 996px #FFF , 1815px 917px #FFF , 970px 429px #FFF , 1220px 117px #FFF , 1807px 1645px #FFF , 1989px 476px #FFF , 1427px 364px #FFF , 1691px 1302px #FFF , 974px 682px #FFF , 713px 1021px #FFF , 1882px 1082px #FFF , 831px 88px #FFF , 155px 472px #FFF , 388px 954px #FFF , 735px 136px #FFF , 287px 1183px #FFF , 111px 1925px #FFF , 985px 1951px #FFF , 407px 1048px #FFF , 1324px 1613px #FFF , 568px 361px #FFF , 1587px 877px #FFF , 16px 694px #FFF , 41px 258px #FFF , 451px 56px #FFF , 1577px 1728px #FFF , 1616px 394px #FFF , 1469px 141px #FFF , 1044px 9px #FFF , 523px 22px #FFF , 380px 831px #FFF , 23px 872px #FFF , 1188px 691px #FFF , 1628px 762px #FFF , 427px 942px #FFF , 565px 1390px #FFF , 1536px 1754px #FFF , 1417px 430px #FFF , 1666px 1018px #FFF , 56px 315px #FFF , 1566px 172px #FFF , 1534px 1054px #FFF , 520px 590px #FFF , 1741px 1787px #FFF , 632px 583px #FFF , 453px 335px #FFF , 184px 1024px #FFF , 1214px 1146px #FFF , 1741px 1917px #FFF , 492px 88px #FFF , 449px 141px #FFF , 1502px 750px #FFF , 202px 876px #FFF , 36px 1886px #FFF , 1719px 1404px #FFF , 1004px 1352px #FFF , 1678px 1239px #FFF , 92px 34px #FFF , 193px 1216px #FFF , 1555px 763px #FFF , 1100px 460px #FFF , 349px 802px #FFF , 795px 461px #FFF , 292px 1295px #FFF , 1958px 215px #FFF , 890px 79px #FFF , 1324px 784px #FFF , 814px 1747px #FFF , 1601px 794px #FFF , 232px 747px #FFF , 753px 1012px #FFF , 486px 916px #FFF , 143px 1153px #FFF , 1631px 829px #FFF , 284px 1016px #FFF , 1716px 1579px #FFF , 1613px 738px #FFF , 1534px 1401px #FFF , 1576px 1875px #FFF , 715px 1086px #FFF , 477px 1760px #FFF , 535px 184px #FFF , 1978px 815px #FFF , 1329px 1345px #FFF , 211px 1489px #FFF , 687px 994px #FFF , 1309px 1082px #FFF , 744px 1312px #FFF , 142px 894px #FFF , 309px 218px #FFF , 420px 834px #FFF , 134px 996px #FFF , 1595px 1788px #FFF , 212px 902px #FFF , 839px 1710px #FFF , 1888px 409px #FFF , 886px 301px #FFF , 1892px 1533px #FFF , 703px 1729px #FFF , 673px 634px #FFF , 984px 109px #FFF , 1610px 783px #FFF , 960px 106px #FFF , 281px 62px #FFF , 1970px 1285px #FFF , 1294px 1806px #FFF , 1255px 1288px #FFF , 1459px 1881px #FFF , 1194px 1962px #FFF , 1208px 1596px #FFF , 1869px 1673px #FFF , 1857px 931px #FFF , 242px 1861px #FFF , 1113px 1978px #FFF , 267px 1459px #FFF , 357px 1273px #FFF , 1831px 176px #FFF , 1814px 1697px #FFF , 551px 968px #FFF , 1136px 503px #FFF , 1341px 344px #FFF , 89px 1734px #FFF , 1285px 534px #FFF , 1537px 302px #FFF , 837px 1381px #FFF , 815px 1731px #FFF , 1178px 1766px #FFF , 6px 1707px #FFF , 1852px 1647px #FFF , 1505px 1581px #FFF , 1485px 853px #FFF , 1369px 53px #FFF , 1467px 243px #FFF , 28px 1586px #FFF , 1647px 595px #FFF , 1080px 459px #FFF , 1291px 1267px #FFF , 1485px 702px #FFF , 525px 11px #FFF , 343px 853px #FFF , 1537px 1404px #FFF , 1334px 1566px #FFF , 1882px 270px #FFF , 527px 630px #FFF , 1982px 222px #FFF , 477px 1787px #FFF , 1989px 1011px #FFF , 698px 609px #FFF , 285px 418px #FFF , 804px 770px #FFF , 407px 474px #FFF , 1886px 1666px #FFF , 73px 1412px #FFF , 580px 1257px #FFF , 203px 309px #FFF , 849px 1673px #FFF , 77px 412px #FFF , 122px 935px #FFF , 126px 1869px #FFF , 682px 1061px #FFF , 1784px 948px #FFF , 1005px 1265px #FFF , 1819px 1651px #FFF , 764px 437px #FFF , 534px 1413px #FFF , 1747px 415px #FFF , 1481px 1355px #FFF , 1414px 1529px #FFF , 511px 1245px #FFF , 465px 1141px #FFF , 1654px 744px #FFF , 1798px 427px #FFF , 1602px 1379px #FFF , 1516px 97px #FFF , 720px 1292px #FFF , 1764px 1713px #FFF , 145px 562px #FFF , 1926px 464px #FFF , 1746px 1349px #FFF , 762px 534px #FFF , 86px 1835px #FFF , 1628px 1033px #FFF , 1782px 414px #FFF , 675px 1005px #FFF , 1242px 1072px #FFF , 34px 579px #FFF , 669px 317px #FFF , 1033px 1577px #FFF , 1130px 301px #FFF , 1240px 1655px #FFF , 1773px 1273px #FFF , 560px 107px #FFF , 1610px 1212px #FFF , 1448px 600px #FFF , 1086px 1573px #FFF , 1759px 808px #FFF , 1689px 1823px #FFF , 1011px 1832px #FFF , 1129px 1871px #FFF , 573px 1266px #FFF , 1925px 1222px #FFF , 1759px 1736px #FFF , 1951px 1150px #FFF , 809px 24px #FFF , 107px 1713px #FFF , 1353px 63px #FFF , 934px 665px #FFF , 1187px 398px #FFF , 1314px 587px #FFF , 1628px 1374px #FFF , 1915px 576px #FFF , 311px 980px #FFF , 71px 1828px #FFF , 1405px 340px #FFF , 16px 1540px #FFF , 1187px 562px #FFF , 1700px 845px #FFF , 104px 1014px #FFF , 1244px 1425px #FFF , 1661px 186px #FFF , 1164px 252px #FFF , 1166px 72px #FFF , 1383px 60px #FFF , 1342px 1762px #FFF , 1162px 899px #FFF , 1571px 370px #FFF , 1070px 1168px #FFF , 1727px 1952px #FFF , 1865px 759px #FFF , 1237px 1374px #FFF , 213px 1283px #FFF , 850px 910px #FFF , 457px 606px #FFF , 88px 781px #FFF , 475px 1714px #FFF , 839px 927px #FFF , 1111px 1610px #FFF , 327px 1191px #FFF , 564px 860px #FFF , 1363px 10px #FFF , 1750px 1466px #FFF , 427px 1118px #FFF , 1764px 861px #FFF , 642px 1971px #FFF , 1029px 1487px #FFF , 1176px 1509px #FFF , 99px 553px #FFF , 115px 1055px #FFF , 631px 1548px #FFF , 1002px 892px #FFF , 822px 118px #FFF , 372px 1214px #FFF , 1049px 332px #FFF , 583px 997px #FFF , 1386px 1025px #FFF , 837px 197px #FFF , 1320px 1525px #FFF , 731px 1820px #FFF , 1445px 1750px #FFF , 1301px 1834px #FFF , 695px 802px #FFF , 1770px 383px #FFF , 675px 1430px #FFF , 1826px 956px #FFF , 604px 1862px #FFF , 1801px 92px #FFF , 946px 1055px #FFF , 594px 223px #FFF , 148px 929px #FFF , 1325px 1932px #FFF , 1495px 302px #FFF , 1899px 1490px #FFF , 1000px 1699px #FFF , 552px 1893px #FFF , 1402px 618px #FFF , 1855px 1343px #FFF , 799px 75px #FFF , 792px 1583px #FFF , 691px 156px #FFF , 623px 385px #FFF , 212px 1587px #FFF , 1846px 1206px #FFF , 15px 1287px #FFF , 1173px 1991px #FFF , 474px 137px #FFF , 1859px 829px #FFF , 1506px 264px #FFF , 923px 1203px #FFF , 1174px 1345px #FFF , 1544px 257px #FFF , 925px 1510px #FFF , 1959px 1861px #FFF , 1264px 1725px #FFF , 1680px 648px #FFF , 1814px 262px #FFF , 875px 1589px #FFF , 511px 355px #FFF , 42px 1788px #FFF , 1635px 335px #FFF , 1349px 872px #FFF , 739px 843px #FFF , 228px 1793px #FFF , 1476px 1934px #FFF , 106px 707px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
    opacity: 0.3;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1717px 1358px #FFF , 1991px 1130px #FFF , 1974px 545px #FFF , 1108px 193px #FFF , 327px 1426px #FFF , 1068px 1181px #FFF , 599px 1742px #FFF , 513px 1989px #FFF , 1753px 1585px #FFF , 232px 855px #FFF , 1976px 1638px #FFF , 1761px 1069px #FFF , 1926px 1137px #FFF , 452px 1705px #FFF , 167px 366px #FFF , 1904px 1290px #FFF , 819px 1740px #FFF , 1991px 793px #FFF , 135px 1226px #FFF , 472px 413px #FFF , 478px 1405px #FFF , 208px 328px #FFF , 526px 1929px #FFF , 521px 1471px #FFF , 613px 1195px #FFF , 1736px 1330px #FFF , 959px 1662px #FFF , 7px 1488px #FFF , 6px 1620px #FFF , 786px 1872px #FFF , 580px 73px #FFF , 524px 910px #FFF , 1690px 1090px #FFF , 1484px 33px #FFF , 692px 1894px #FFF , 245px 877px #FFF , 1319px 1434px #FFF , 620px 1932px #FFF , 65px 1043px #FFF , 838px 456px #FFF , 1255px 1942px #FFF , 885px 1554px #FFF , 1713px 537px #FFF , 1618px 405px #FFF , 103px 831px #FFF , 798px 1394px #FFF , 988px 201px #FFF , 575px 879px #FFF , 780px 747px #FFF , 1589px 690px #FFF , 52px 481px #FFF , 1612px 941px #FFF , 1281px 973px #FFF , 591px 1680px #FFF , 1261px 125px #FFF , 899px 37px #FFF , 719px 1439px #FFF , 559px 518px #FFF , 1816px 166px #FFF , 478px 1297px #FFF , 1997px 1924px #FFF , 1669px 57px #FFF , 1161px 385px #FFF , 1546px 933px #FFF , 427px 847px #FFF , 1537px 1337px #FFF , 1908px 994px #FFF , 1032px 451px #FFF , 1121px 1743px #FFF , 1498px 816px #FFF , 620px 1222px #FFF , 774px 235px #FFF , 1457px 1370px #FFF , 1765px 516px #FFF , 435px 1268px #FFF , 777px 211px #FFF , 1696px 981px #FFF , 803px 1191px #FFF , 755px 472px #FFF , 836px 414px #FFF , 1158px 728px #FFF , 936px 432px #FFF , 13px 1000px #FFF , 645px 668px #FFF , 594px 340px #FFF , 1000px 229px #FFF , 46px 1530px #FFF , 1210px 1700px #FFF , 725px 745px #FFF , 744px 345px #FFF , 1166px 1962px #FFF , 1817px 1133px #FFF , 398px 602px #FFF , 1727px 1176px #FFF , 1748px 1498px #FFF , 1279px 1488px #FFF , 206px 1249px #FFF , 196px 227px #FFF , 172px 1796px #FFF , 327px 1142px #FFF , 133px 212px #FFF , 1717px 765px #FFF , 221px 1922px #FFF , 1189px 1225px #FFF , 971px 497px #FFF , 150px 571px #FFF , 1912px 1553px #FFF , 1652px 1168px #FFF , 1701px 1834px #FFF , 1795px 1229px #FFF , 603px 113px #FFF , 827px 1160px #FFF , 1900px 824px #FFF , 1563px 401px #FFF , 1107px 1565px #FFF , 1700px 1750px #FFF , 1482px 1022px #FFF , 1730px 1631px #FFF , 68px 1009px #FFF , 1402px 533px #FFF , 1609px 251px #FFF , 890px 1311px #FFF , 1444px 44px #FFF , 1779px 1718px #FFF , 858px 1486px #FFF , 1239px 341px #FFF , 1467px 1379px #FFF , 1207px 518px #FFF , 1573px 1231px #FFF , 1072px 1557px #FFF , 1160px 293px #FFF , 1110px 385px #FFF , 657px 1779px #FFF , 1523px 1214px #FFF , 1456px 921px #FFF , 942px 1825px #FFF , 1423px 1117px #FFF , 1918px 220px #FFF , 1168px 1826px #FFF , 319px 837px #FFF , 1920px 854px #FFF , 422px 1273px #FFF , 1653px 351px #FFF , 312px 1440px #FFF , 446px 543px #FFF , 1648px 699px #FFF , 1667px 1171px #FFF , 1936px 1716px #FFF , 470px 1374px #FFF , 1100px 1525px #FFF , 1374px 330px #FFF , 1982px 819px #FFF , 37px 860px #FFF , 1309px 1098px #FFF , 450px 1421px #FFF , 752px 1432px #FFF , 206px 1430px #FFF , 59px 1514px #FFF , 411px 1418px #FFF , 1585px 1037px #FFF , 1197px 1844px #FFF , 941px 1730px #FFF , 1508px 666px #FFF , 4px 1943px #FFF , 658px 670px #FFF , 1195px 801px #FFF , 1460px 1176px #FFF , 885px 1467px #FFF , 1345px 1770px #FFF , 1660px 409px #FFF , 1973px 166px #FFF , 409px 1378px #FFF , 899px 657px #FFF , 53px 1882px #FFF , 822px 1070px #FFF , 1662px 1865px #FFF , 1458px 1270px #FFF , 794px 1068px #FFF , 726px 696px #FFF , 6px 1334px #FFF , 995px 8px #FFF , 616px 553px #FFF , 332px 1721px #FFF , 625px 1362px #FFF , 1874px 301px #FFF , 898px 554px #FFF , 948px 1741px #FFF , 463px 604px #FFF , 1578px 1386px #FFF , 751px 642px #FFF , 1226px 254px #FFF , 1964px 1742px #FFF , 1224px 744px #FFF , 56px 209px #FFF , 521px 1588px #FFF , 1304px 1252px #FFF , 839px 102px #FFF , 1291px 1648px #FFF , 1330px 16px #FFF , 48px 799px #FFF , 663px 1943px #FFF , 1084px 1944px #FFF , 190px 989px #FFF , 1135px 1648px #FFF , 1680px 976px #FFF , 1344px 1599px #FFF , 1774px 1317px #FFF , 1036px 673px #FFF , 23px 849px #FFF , 1611px 567px #FFF , 1063px 1058px #FFF , 1193px 1945px #FFF , 1822px 755px #FFF , 66px 70px #FFF , 392px 1151px #FFF , 1637px 197px #FFF , 1796px 822px #FFF , 1782px 279px #FFF , 852px 1529px #FFF , 221px 25px #FFF , 1905px 866px #FFF , 906px 1926px #FFF , 480px 187px #FFF , 364px 1589px #FFF , 646px 448px #FFF , 276px 1386px #FFF , 1271px 1660px #FFF , 354px 1388px #FFF , 1578px 1610px #FFF , 191px 1780px #FFF , 710px 205px #FFF , 93px 1826px #FFF , 1492px 1854px #FFF , 1479px 1907px #FFF , 957px 1387px #FFF , 1142px 1110px #FFF , 326px 1477px #FFF , 410px 1159px #FFF , 640px 1843px #FFF , 209px 859px #FFF , 176px 1288px #FFF , 110px 535px #FFF , 678px 1207px #FFF , 722px 1861px #FFF , 597px 79px #FFF , 94px 234px #FFF , 1043px 708px #FFF , 1990px 83px #FFF , 995px 1182px #FFF , 358px 1284px #FFF , 235px 1967px #FFF , 929px 359px #FFF , 531px 1086px #FFF , 1663px 823px #FFF , 1516px 1328px #FFF , 244px 1233px #FFF , 1696px 31px #FFF , 848px 1044px #FFF , 1937px 709px #FFF , 1845px 112px #FFF , 714px 1075px #FFF , 1826px 1530px #FFF , 1073px 1081px #FFF , 783px 738px #FFF , 1982px 712px #FFF , 915px 527px #FFF , 1388px 264px #FFF , 78px 1175px #FFF , 1260px 1292px #FFF , 1477px 1461px #FFF , 1011px 586px #FFF , 1086px 1667px #FFF , 747px 1223px #FFF , 1245px 858px #FFF , 795px 1306px #FFF , 1944px 34px #FFF , 1040px 1129px #FFF , 577px 1293px #FFF , 174px 1978px #FFF , 70px 252px #FFF , 1860px 1975px #FFF , 790px 1080px #FFF , 1896px 307px #FFF , 987px 1119px #FFF , 1572px 1535px #FFF , 1412px 1994px #FFF , 381px 1805px #FFF , 1655px 1314px #FFF , 1047px 478px #FFF , 1435px 101px #FFF , 1053px 929px #FFF , 561px 949px #FFF , 453px 1122px #FFF , 712px 1609px #FFF , 1618px 1501px #FFF , 27px 470px #FFF , 51px 1043px #FFF , 856px 18px #FFF , 594px 1926px #FFF , 214px 1233px #FFF , 1753px 1132px #FFF , 1031px 1729px #FFF , 1454px 1597px #FFF , 1175px 1298px #FFF , 1959px 1651px #FFF , 1303px 785px #FFF , 402px 1169px #FFF , 603px 880px #FFF , 88px 592px #FFF , 193px 1815px #FFF , 368px 1142px #FFF , 899px 1269px #FFF , 751px 718px #FFF , 64px 163px #FFF , 640px 1472px #FFF , 1119px 665px #FFF , 1234px 1091px #FFF , 394px 1133px #FFF , 1057px 1028px #FFF , 776px 1026px #FFF , 755px 1971px #FFF , 24px 162px #FFF , 912px 1196px #FFF , 621px 642px #FFF , 1227px 1694px #FFF , 825px 943px #FFF , 1876px 1742px #FFF , 1429px 400px #FFF , 1662px 192px #FFF , 1877px 851px #FFF , 514px 872px #FFF , 1010px 419px #FFF , 857px 1714px #FFF , 1423px 1024px #FFF , 1421px 294px #FFF , 61px 740px #FFF , 344px 1721px #FFF , 898px 229px #FFF , 1599px 1551px #FFF , 1367px 1336px #FFF , 1591px 1040px #FFF , 1749px 1429px #FFF , 1499px 25px #FFF , 693px 1428px #FFF , 1330px 1876px #FFF , 560px 197px #FFF , 1917px 160px #FFF , 1171px 500px #FFF , 1311px 535px #FFF , 1204px 121px #FFF , 653px 1172px #FFF , 1388px 299px #FFF , 881px 369px #FFF , 931px 1502px #FFF , 1800px 999px #FFF , 1968px 1641px #FFF , 1623px 1501px #FFF , 1048px 323px #FFF , 1497px 1097px #FFF , 1488px 1476px #FFF , 1965px 1197px #FFF , 1331px 23px #FFF , 808px 1622px #FFF , 1962px 878px #FFF , 912px 879px #FFF , 1675px 1714px #FFF , 217px 1870px #FFF , 1947px 1362px #FFF , 465px 1138px #FFF , 1396px 196px #FFF , 564px 1387px #FFF , 1183px 1103px #FFF , 535px 1169px #FFF , 614px 1868px #FFF , 470px 1822px #FFF , 118px 1194px #FFF , 1262px 968px #FFF , 1018px 1868px #FFF , 1893px 1771px #FFF , 1346px 1701px #FFF , 1766px 1115px #FFF , 240px 125px #FFF , 819px 702px #FFF , 133px 480px #FFF , 1654px 1776px #FFF , 917px 462px #FFF , 954px 1494px #FFF , 1155px 857px #FFF , 1938px 1188px #FFF , 1737px 495px #FFF , 222px 1713px #FFF , 1897px 477px #FFF , 263px 260px #FFF , 1198px 1177px #FFF , 518px 1328px #FFF , 136px 1383px #FFF , 1145px 996px #FFF , 1815px 917px #FFF , 970px 429px #FFF , 1220px 117px #FFF , 1807px 1645px #FFF , 1989px 476px #FFF , 1427px 364px #FFF , 1691px 1302px #FFF , 974px 682px #FFF , 713px 1021px #FFF , 1882px 1082px #FFF , 831px 88px #FFF , 155px 472px #FFF , 388px 954px #FFF , 735px 136px #FFF , 287px 1183px #FFF , 111px 1925px #FFF , 985px 1951px #FFF , 407px 1048px #FFF , 1324px 1613px #FFF , 568px 361px #FFF , 1587px 877px #FFF , 16px 694px #FFF , 41px 258px #FFF , 451px 56px #FFF , 1577px 1728px #FFF , 1616px 394px #FFF , 1469px 141px #FFF , 1044px 9px #FFF , 523px 22px #FFF , 380px 831px #FFF , 23px 872px #FFF , 1188px 691px #FFF , 1628px 762px #FFF , 427px 942px #FFF , 565px 1390px #FFF , 1536px 1754px #FFF , 1417px 430px #FFF , 1666px 1018px #FFF , 56px 315px #FFF , 1566px 172px #FFF , 1534px 1054px #FFF , 520px 590px #FFF , 1741px 1787px #FFF , 632px 583px #FFF , 453px 335px #FFF , 184px 1024px #FFF , 1214px 1146px #FFF , 1741px 1917px #FFF , 492px 88px #FFF , 449px 141px #FFF , 1502px 750px #FFF , 202px 876px #FFF , 36px 1886px #FFF , 1719px 1404px #FFF , 1004px 1352px #FFF , 1678px 1239px #FFF , 92px 34px #FFF , 193px 1216px #FFF , 1555px 763px #FFF , 1100px 460px #FFF , 349px 802px #FFF , 795px 461px #FFF , 292px 1295px #FFF , 1958px 215px #FFF , 890px 79px #FFF , 1324px 784px #FFF , 814px 1747px #FFF , 1601px 794px #FFF , 232px 747px #FFF , 753px 1012px #FFF , 486px 916px #FFF , 143px 1153px #FFF , 1631px 829px #FFF , 284px 1016px #FFF , 1716px 1579px #FFF , 1613px 738px #FFF , 1534px 1401px #FFF , 1576px 1875px #FFF , 715px 1086px #FFF , 477px 1760px #FFF , 535px 184px #FFF , 1978px 815px #FFF , 1329px 1345px #FFF , 211px 1489px #FFF , 687px 994px #FFF , 1309px 1082px #FFF , 744px 1312px #FFF , 142px 894px #FFF , 309px 218px #FFF , 420px 834px #FFF , 134px 996px #FFF , 1595px 1788px #FFF , 212px 902px #FFF , 839px 1710px #FFF , 1888px 409px #FFF , 886px 301px #FFF , 1892px 1533px #FFF , 703px 1729px #FFF , 673px 634px #FFF , 984px 109px #FFF , 1610px 783px #FFF , 960px 106px #FFF , 281px 62px #FFF , 1970px 1285px #FFF , 1294px 1806px #FFF , 1255px 1288px #FFF , 1459px 1881px #FFF , 1194px 1962px #FFF , 1208px 1596px #FFF , 1869px 1673px #FFF , 1857px 931px #FFF , 242px 1861px #FFF , 1113px 1978px #FFF , 267px 1459px #FFF , 357px 1273px #FFF , 1831px 176px #FFF , 1814px 1697px #FFF , 551px 968px #FFF , 1136px 503px #FFF , 1341px 344px #FFF , 89px 1734px #FFF , 1285px 534px #FFF , 1537px 302px #FFF , 837px 1381px #FFF , 815px 1731px #FFF , 1178px 1766px #FFF , 6px 1707px #FFF , 1852px 1647px #FFF , 1505px 1581px #FFF , 1485px 853px #FFF , 1369px 53px #FFF , 1467px 243px #FFF , 28px 1586px #FFF , 1647px 595px #FFF , 1080px 459px #FFF , 1291px 1267px #FFF , 1485px 702px #FFF , 525px 11px #FFF , 343px 853px #FFF , 1537px 1404px #FFF , 1334px 1566px #FFF , 1882px 270px #FFF , 527px 630px #FFF , 1982px 222px #FFF , 477px 1787px #FFF , 1989px 1011px #FFF , 698px 609px #FFF , 285px 418px #FFF , 804px 770px #FFF , 407px 474px #FFF , 1886px 1666px #FFF , 73px 1412px #FFF , 580px 1257px #FFF , 203px 309px #FFF , 849px 1673px #FFF , 77px 412px #FFF , 122px 935px #FFF , 126px 1869px #FFF , 682px 1061px #FFF , 1784px 948px #FFF , 1005px 1265px #FFF , 1819px 1651px #FFF , 764px 437px #FFF , 534px 1413px #FFF , 1747px 415px #FFF , 1481px 1355px #FFF , 1414px 1529px #FFF , 511px 1245px #FFF , 465px 1141px #FFF , 1654px 744px #FFF , 1798px 427px #FFF , 1602px 1379px #FFF , 1516px 97px #FFF , 720px 1292px #FFF , 1764px 1713px #FFF , 145px 562px #FFF , 1926px 464px #FFF , 1746px 1349px #FFF , 762px 534px #FFF , 86px 1835px #FFF , 1628px 1033px #FFF , 1782px 414px #FFF , 675px 1005px #FFF , 1242px 1072px #FFF , 34px 579px #FFF , 669px 317px #FFF , 1033px 1577px #FFF , 1130px 301px #FFF , 1240px 1655px #FFF , 1773px 1273px #FFF , 560px 107px #FFF , 1610px 1212px #FFF , 1448px 600px #FFF , 1086px 1573px #FFF , 1759px 808px #FFF , 1689px 1823px #FFF , 1011px 1832px #FFF , 1129px 1871px #FFF , 573px 1266px #FFF , 1925px 1222px #FFF , 1759px 1736px #FFF , 1951px 1150px #FFF , 809px 24px #FFF , 107px 1713px #FFF , 1353px 63px #FFF , 934px 665px #FFF , 1187px 398px #FFF , 1314px 587px #FFF , 1628px 1374px #FFF , 1915px 576px #FFF , 311px 980px #FFF , 71px 1828px #FFF , 1405px 340px #FFF , 16px 1540px #FFF , 1187px 562px #FFF , 1700px 845px #FFF , 104px 1014px #FFF , 1244px 1425px #FFF , 1661px 186px #FFF , 1164px 252px #FFF , 1166px 72px #FFF , 1383px 60px #FFF , 1342px 1762px #FFF , 1162px 899px #FFF , 1571px 370px #FFF , 1070px 1168px #FFF , 1727px 1952px #FFF , 1865px 759px #FFF , 1237px 1374px #FFF , 213px 1283px #FFF , 850px 910px #FFF , 457px 606px #FFF , 88px 781px #FFF , 475px 1714px #FFF , 839px 927px #FFF , 1111px 1610px #FFF , 327px 1191px #FFF , 564px 860px #FFF , 1363px 10px #FFF , 1750px 1466px #FFF , 427px 1118px #FFF , 1764px 861px #FFF , 642px 1971px #FFF , 1029px 1487px #FFF , 1176px 1509px #FFF , 99px 553px #FFF , 115px 1055px #FFF , 631px 1548px #FFF , 1002px 892px #FFF , 822px 118px #FFF , 372px 1214px #FFF , 1049px 332px #FFF , 583px 997px #FFF , 1386px 1025px #FFF , 837px 197px #FFF , 1320px 1525px #FFF , 731px 1820px #FFF , 1445px 1750px #FFF , 1301px 1834px #FFF , 695px 802px #FFF , 1770px 383px #FFF , 675px 1430px #FFF , 1826px 956px #FFF , 604px 1862px #FFF , 1801px 92px #FFF , 946px 1055px #FFF , 594px 223px #FFF , 148px 929px #FFF , 1325px 1932px #FFF , 1495px 302px #FFF , 1899px 1490px #FFF , 1000px 1699px #FFF , 552px 1893px #FFF , 1402px 618px #FFF , 1855px 1343px #FFF , 799px 75px #FFF , 792px 1583px #FFF , 691px 156px #FFF , 623px 385px #FFF , 212px 1587px #FFF , 1846px 1206px #FFF , 15px 1287px #FFF , 1173px 1991px #FFF , 474px 137px #FFF , 1859px 829px #FFF , 1506px 264px #FFF , 923px 1203px #FFF , 1174px 1345px #FFF , 1544px 257px #FFF , 925px 1510px #FFF , 1959px 1861px #FFF , 1264px 1725px #FFF , 1680px 648px #FFF , 1814px 262px #FFF , 875px 1589px #FFF , 511px 355px #FFF , 42px 1788px #FFF , 1635px 335px #FFF , 1349px 872px #FFF , 739px 843px #FFF , 228px 1793px #FFF , 1476px 1934px #FFF , 106px 707px #FFF;
}

#stars2 {
    opacity: 0.2;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 410px 68px #FFF , 1451px 843px #FFF , 100px 534px #FFF , 1020px 1121px #FFF , 1034px 125px #FFF , 1639px 6px #FFF , 1046px 1649px #FFF , 596px 180px #FFF , 32px 486px #FFF , 1818px 1234px #FFF , 1737px 740px #FFF , 69px 921px #FFF , 627px 1935px #FFF , 222px 420px #FFF , 1337px 1195px #FFF , 31px 1416px #FFF , 718px 1086px #FFF , 94px 349px #FFF , 922px 1981px #FFF , 1537px 1534px #FFF , 1092px 1386px #FFF , 895px 953px #FFF , 1804px 1514px #FFF , 1148px 387px #FFF , 1161px 945px #FFF , 1521px 1897px #FFF , 577px 358px #FFF , 1089px 634px #FFF , 847px 1020px #FFF , 1526px 1530px #FFF , 1408px 171px #FFF , 1782px 1925px #FFF , 300px 1369px #FFF , 953px 1176px #FFF , 1189px 745px #FFF , 1554px 1590px #FFF , 1577px 1590px #FFF , 1711px 1334px #FFF , 248px 508px #FFF , 1050px 628px #FFF , 802px 518px #FFF , 780px 1612px #FFF , 559px 784px #FFF , 542px 1880px #FFF , 1889px 1699px #FFF , 1754px 1961px #FFF , 259px 876px #FFF , 1104px 488px #FFF , 537px 1827px #FFF , 944px 1603px #FFF , 162px 1134px #FFF , 618px 1396px #FFF , 953px 615px #FFF , 1566px 383px #FFF , 1926px 1681px #FFF , 233px 246px #FFF , 447px 1164px #FFF , 1915px 1414px #FFF , 1879px 1181px #FFF , 1295px 425px #FFF , 692px 656px #FFF , 631px 1145px #FFF , 1982px 468px #FFF , 1752px 798px #FFF , 1084px 503px #FFF , 1550px 1228px #FFF , 747px 1759px #FFF , 1303px 183px #FFF , 447px 1558px #FFF , 1400px 127px #FFF , 1447px 143px #FFF , 498px 1257px #FFF , 283px 1045px #FFF , 1893px 1968px #FFF , 335px 206px #FFF , 1643px 1353px #FFF , 1091px 1338px #FFF , 514px 1415px #FFF , 1977px 368px #FFF , 368px 1453px #FFF , 1462px 1010px #FFF , 1869px 207px #FFF , 1377px 694px #FFF , 39px 919px #FFF , 1375px 149px #FFF , 1900px 884px #FFF , 1879px 685px #FFF , 678px 102px #FFF , 983px 1014px #FFF , 1090px 1268px #FFF , 1982px 1784px #FFF , 1358px 1099px #FFF , 25px 1926px #FFF , 508px 1445px #FFF , 1842px 889px #FFF , 562px 1545px #FFF , 1325px 1662px #FFF , 533px 915px #FFF , 50px 1792px #FFF , 673px 416px #FFF , 1071px 218px #FFF , 1985px 912px #FFF , 426px 1505px #FFF , 1479px 1020px #FFF , 1629px 1951px #FFF , 1764px 100px #FFF , 78px 1309px #FFF , 1847px 1227px #FFF , 413px 958px #FFF , 1176px 321px #FFF , 1046px 762px #FFF , 619px 1214px #FFF , 1948px 71px #FFF , 247px 1322px #FFF , 501px 659px #FFF , 212px 1287px #FFF , 1421px 1344px #FFF , 629px 1200px #FFF , 828px 649px #FFF , 525px 538px #FFF , 1497px 231px #FFF , 1090px 867px #FFF , 650px 1787px #FFF , 766px 1885px #FFF , 1465px 1484px #FFF , 1333px 1801px #FFF , 4px 1472px #FFF , 1821px 518px #FFF , 951px 1223px #FFF , 251px 713px #FFF , 894px 488px #FFF , 1069px 256px #FFF , 1676px 387px #FFF , 1478px 1862px #FFF , 90px 580px #FFF , 440px 1807px #FFF , 1016px 1357px #FFF , 1721px 443px #FFF , 906px 1840px #FFF , 211px 820px #FFF , 668px 1041px #FFF , 537px 1264px #FFF , 118px 228px #FFF , 1050px 859px #FFF , 1211px 1095px #FFF , 999px 1963px #FFF , 70px 804px #FFF , 484px 113px #FFF , 1263px 692px #FFF , 527px 1527px #FFF , 1875px 1827px #FFF , 734px 1685px #FFF , 791px 327px #FFF , 511px 1096px #FFF , 1629px 815px #FFF , 981px 1166px #FFF , 352px 811px #FFF , 363px 1861px #FFF , 646px 1963px #FFF , 489px 1696px #FFF , 711px 161px #FFF , 1720px 374px #FFF , 652px 1538px #FFF , 826px 911px #FFF , 298px 1557px #FFF , 1515px 1073px #FFF , 1410px 1341px #FFF , 1732px 717px #FFF , 1656px 925px #FFF , 748px 83px #FFF , 1893px 1599px #FFF , 196px 1976px #FFF , 1681px 1891px #FFF , 695px 1422px #FFF , 1060px 1781px #FFF , 1551px 351px #FFF , 1000px 581px #FFF , 1232px 19px #FFF , 1198px 1912px #FFF , 34px 627px #FFF , 1532px 539px #FFF , 1215px 588px #FFF , 1517px 200px #FFF , 1621px 877px #FFF , 268px 1391px #FFF , 1362px 839px #FFF , 1241px 1566px #FFF , 1944px 1304px #FFF , 153px 1507px #FFF , 281px 690px #FFF , 1769px 299px #FFF , 1074px 418px #FFF , 1944px 585px #FFF , 323px 1665px #FFF , 1376px 1861px #FFF , 114px 896px #FFF , 620px 1317px #FFF , 1705px 1686px #FFF , 983px 1136px #FFF , 1277px 271px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
    opacity: 0.1;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 410px 68px #FFF , 1451px 843px #FFF , 100px 534px #FFF , 1020px 1121px #FFF , 1034px 125px #FFF , 1639px 6px #FFF , 1046px 1649px #FFF , 596px 180px #FFF , 32px 486px #FFF , 1818px 1234px #FFF , 1737px 740px #FFF , 69px 921px #FFF , 627px 1935px #FFF , 222px 420px #FFF , 1337px 1195px #FFF , 31px 1416px #FFF , 718px 1086px #FFF , 94px 349px #FFF , 922px 1981px #FFF , 1537px 1534px #FFF , 1092px 1386px #FFF , 895px 953px #FFF , 1804px 1514px #FFF , 1148px 387px #FFF , 1161px 945px #FFF , 1521px 1897px #FFF , 577px 358px #FFF , 1089px 634px #FFF , 847px 1020px #FFF , 1526px 1530px #FFF , 1408px 171px #FFF , 1782px 1925px #FFF , 300px 1369px #FFF , 953px 1176px #FFF , 1189px 745px #FFF , 1554px 1590px #FFF , 1577px 1590px #FFF , 1711px 1334px #FFF , 248px 508px #FFF , 1050px 628px #FFF , 802px 518px #FFF , 780px 1612px #FFF , 559px 784px #FFF , 542px 1880px #FFF , 1889px 1699px #FFF , 1754px 1961px #FFF , 259px 876px #FFF , 1104px 488px #FFF , 537px 1827px #FFF , 944px 1603px #FFF , 162px 1134px #FFF , 618px 1396px #FFF , 953px 615px #FFF , 1566px 383px #FFF , 1926px 1681px #FFF , 233px 246px #FFF , 447px 1164px #FFF , 1915px 1414px #FFF , 1879px 1181px #FFF , 1295px 425px #FFF , 692px 656px #FFF , 631px 1145px #FFF , 1982px 468px #FFF , 1752px 798px #FFF , 1084px 503px #FFF , 1550px 1228px #FFF , 747px 1759px #FFF , 1303px 183px #FFF , 447px 1558px #FFF , 1400px 127px #FFF , 1447px 143px #FFF , 498px 1257px #FFF , 283px 1045px #FFF , 1893px 1968px #FFF , 335px 206px #FFF , 1643px 1353px #FFF , 1091px 1338px #FFF , 514px 1415px #FFF , 1977px 368px #FFF , 368px 1453px #FFF , 1462px 1010px #FFF , 1869px 207px #FFF , 1377px 694px #FFF , 39px 919px #FFF , 1375px 149px #FFF , 1900px 884px #FFF , 1879px 685px #FFF , 678px 102px #FFF , 983px 1014px #FFF , 1090px 1268px #FFF , 1982px 1784px #FFF , 1358px 1099px #FFF , 25px 1926px #FFF , 508px 1445px #FFF , 1842px 889px #FFF , 562px 1545px #FFF , 1325px 1662px #FFF , 533px 915px #FFF , 50px 1792px #FFF , 673px 416px #FFF , 1071px 218px #FFF , 1985px 912px #FFF , 426px 1505px #FFF , 1479px 1020px #FFF , 1629px 1951px #FFF , 1764px 100px #FFF , 78px 1309px #FFF , 1847px 1227px #FFF , 413px 958px #FFF , 1176px 321px #FFF , 1046px 762px #FFF , 619px 1214px #FFF , 1948px 71px #FFF , 247px 1322px #FFF , 501px 659px #FFF , 212px 1287px #FFF , 1421px 1344px #FFF , 629px 1200px #FFF , 828px 649px #FFF , 525px 538px #FFF , 1497px 231px #FFF , 1090px 867px #FFF , 650px 1787px #FFF , 766px 1885px #FFF , 1465px 1484px #FFF , 1333px 1801px #FFF , 4px 1472px #FFF , 1821px 518px #FFF , 951px 1223px #FFF , 251px 713px #FFF , 894px 488px #FFF , 1069px 256px #FFF , 1676px 387px #FFF , 1478px 1862px #FFF , 90px 580px #FFF , 440px 1807px #FFF , 1016px 1357px #FFF , 1721px 443px #FFF , 906px 1840px #FFF , 211px 820px #FFF , 668px 1041px #FFF , 537px 1264px #FFF , 118px 228px #FFF , 1050px 859px #FFF , 1211px 1095px #FFF , 999px 1963px #FFF , 70px 804px #FFF , 484px 113px #FFF , 1263px 692px #FFF , 527px 1527px #FFF , 1875px 1827px #FFF , 734px 1685px #FFF , 791px 327px #FFF , 511px 1096px #FFF , 1629px 815px #FFF , 981px 1166px #FFF , 352px 811px #FFF , 363px 1861px #FFF , 646px 1963px #FFF , 489px 1696px #FFF , 711px 161px #FFF , 1720px 374px #FFF , 652px 1538px #FFF , 826px 911px #FFF , 298px 1557px #FFF , 1515px 1073px #FFF , 1410px 1341px #FFF , 1732px 717px #FFF , 1656px 925px #FFF , 748px 83px #FFF , 1893px 1599px #FFF , 196px 1976px #FFF , 1681px 1891px #FFF , 695px 1422px #FFF , 1060px 1781px #FFF , 1551px 351px #FFF , 1000px 581px #FFF , 1232px 19px #FFF , 1198px 1912px #FFF , 34px 627px #FFF , 1532px 539px #FFF , 1215px 588px #FFF , 1517px 200px #FFF , 1621px 877px #FFF , 268px 1391px #FFF , 1362px 839px #FFF , 1241px 1566px #FFF , 1944px 1304px #FFF , 153px 1507px #FFF , 281px 690px #FFF , 1769px 299px #FFF , 1074px 418px #FFF , 1944px 585px #FFF , 323px 1665px #FFF , 1376px 1861px #FFF , 114px 896px #FFF , 620px 1317px #FFF , 1705px 1686px #FFF , 983px 1136px #FFF , 1277px 271px #FFF;
}

#stars3 {
    opacity: 0.3;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 213px 27px #FFF , 749px 480px #FFF , 14px 546px #FFF , 783px 1462px #FFF , 816px 2px #FFF , 1222px 183px #FFF , 1006px 167px #FFF , 665px 705px #FFF , 988px 1672px #FFF , 1735px 546px #FFF , 542px 1132px #FFF , 717px 1395px #FFF , 1002px 1842px #FFF , 1822px 44px #FFF , 282px 1370px #FFF , 878px 767px #FFF , 1168px 438px #FFF , 369px 1667px #FFF , 1605px 1436px #FFF , 1295px 1580px #FFF , 181px 307px #FFF , 1189px 1137px #FFF , 344px 332px #FFF , 171px 1731px #FFF , 1625px 878px #FFF , 91px 1355px #FFF , 1180px 690px #FFF , 979px 524px #FFF , 1341px 1336px #FFF , 504px 1413px #FFF , 1295px 1283px #FFF , 1614px 1356px #FFF , 1472px 1135px #FFF , 1509px 1229px #FFF , 1216px 810px #FFF , 1806px 883px #FFF , 1731px 1095px #FFF , 1004px 947px #FFF , 1912px 1432px #FFF , 1852px 523px #FFF , 1306px 1706px #FFF , 284px 832px #FFF , 1548px 1743px #FFF , 1105px 978px #FFF , 235px 1123px #FFF , 1087px 513px #FFF , 1904px 1556px #FFF , 1435px 1334px #FFF , 922px 1057px #FFF , 1762px 104px #FFF , 1526px 1472px #FFF , 1052px 528px #FFF , 531px 437px #FFF , 251px 46px #FFF , 1314px 602px #FFF , 1889px 1157px #FFF , 632px 559px #FFF , 331px 742px #FFF , 554px 1670px #FFF , 748px 1370px #FFF , 1108px 444px #FFF , 1269px 453px #FFF , 154px 1254px #FFF , 1153px 537px #FFF , 312px 1698px #FFF , 1371px 1036px #FFF , 839px 372px #FFF , 447px 881px #FFF , 350px 1076px #FFF , 324px 1860px #FFF , 987px 390px #FFF , 395px 652px #FFF , 153px 1958px #FFF , 604px 1922px #FFF , 700px 905px #FFF , 1979px 882px #FFF , 880px 572px #FFF , 245px 460px #FFF , 1561px 1868px #FFF , 1147px 851px #FFF , 1543px 178px #FFF , 507px 1786px #FFF , 814px 427px #FFF , 496px 277px #FFF , 908px 1777px #FFF , 1387px 325px #FFF , 1667px 151px #FFF , 1377px 414px #FFF , 2000px 837px #FFF , 1024px 32px #FFF , 1903px 1971px #FFF , 927px 1484px #FFF , 1932px 1436px #FFF , 1730px 1621px #FFF , 1708px 485px #FFF , 1942px 1079px #FFF , 1347px 388px #FFF , 646px 1671px #FFF , 970px 1719px #FFF , 1289px 1748px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
    opacity: 0.3;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 213px 27px #FFF , 749px 480px #FFF , 14px 546px #FFF , 783px 1462px #FFF , 816px 2px #FFF , 1222px 183px #FFF , 1006px 167px #FFF , 665px 705px #FFF , 988px 1672px #FFF , 1735px 546px #FFF , 542px 1132px #FFF , 717px 1395px #FFF , 1002px 1842px #FFF , 1822px 44px #FFF , 282px 1370px #FFF , 878px 767px #FFF , 1168px 438px #FFF , 369px 1667px #FFF , 1605px 1436px #FFF , 1295px 1580px #FFF , 181px 307px #FFF , 1189px 1137px #FFF , 344px 332px #FFF , 171px 1731px #FFF , 1625px 878px #FFF , 91px 1355px #FFF , 1180px 690px #FFF , 979px 524px #FFF , 1341px 1336px #FFF , 504px 1413px #FFF , 1295px 1283px #FFF , 1614px 1356px #FFF , 1472px 1135px #FFF , 1509px 1229px #FFF , 1216px 810px #FFF , 1806px 883px #FFF , 1731px 1095px #FFF , 1004px 947px #FFF , 1912px 1432px #FFF , 1852px 523px #FFF , 1306px 1706px #FFF , 284px 832px #FFF , 1548px 1743px #FFF , 1105px 978px #FFF , 235px 1123px #FFF , 1087px 513px #FFF , 1904px 1556px #FFF , 1435px 1334px #FFF , 922px 1057px #FFF , 1762px 104px #FFF , 1526px 1472px #FFF , 1052px 528px #FFF , 531px 437px #FFF , 251px 46px #FFF , 1314px 602px #FFF , 1889px 1157px #FFF , 632px 559px #FFF , 331px 742px #FFF , 554px 1670px #FFF , 748px 1370px #FFF , 1108px 444px #FFF , 1269px 453px #FFF , 154px 1254px #FFF , 1153px 537px #FFF , 312px 1698px #FFF , 1371px 1036px #FFF , 839px 372px #FFF , 447px 881px #FFF , 350px 1076px #FFF , 324px 1860px #FFF , 987px 390px #FFF , 395px 652px #FFF , 153px 1958px #FFF , 604px 1922px #FFF , 700px 905px #FFF , 1979px 882px #FFF , 880px 572px #FFF , 245px 460px #FFF , 1561px 1868px #FFF , 1147px 851px #FFF , 1543px 178px #FFF , 507px 1786px #FFF , 814px 427px #FFF , 496px 277px #FFF , 908px 1777px #FFF , 1387px 325px #FFF , 1667px 151px #FFF , 1377px 414px #FFF , 2000px 837px #FFF , 1024px 32px #FFF , 1903px 1971px #FFF , 927px 1484px #FFF , 1932px 1436px #FFF , 1730px 1621px #FFF , 1708px 485px #FFF , 1942px 1079px #FFF , 1347px 388px #FFF , 646px 1671px #FFF , 970px 1719px #FFF , 1289px 1748px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
